/* ---Header--- */
.header__boldText {
  font-weight: 900;
}

.header {

  height: 70px;
  width: 100%;
  position: relative;
}

.header__title {

  font-size: 20px;
  line-height: 70px;
  margin-left: 40px;
}

.header__options {
  position: absolute;
  padding: 25px 0 0 15px;
  cursor: pointer;
}
