/* ---Stats Box--- */

.statbox__title {
  font-size: 18px;
  color: #6a6c75;
  margin-bottom: 0px;
  zposition: relative;
  top: 0px;
  transition: color 0.5s 0.5s, margin-bottom 0.5s 0.5s, top 0.5s 0.5s;
  background: red;
}

.statbox__value {
  display: inline-block;
  font-size: 14px;
  color: #0c87d6;
  position: relative;
  top: 0px;
  transition: color 0.5s 0.5s, font-size 0.5s 0.5s, line-height 0.5s 0.5s, top 0.5s 0.5s;
}

.statbox__unit {
  display: inline-block;
  font-size: 14px;
  color: #0c87d6;
  position: relative;
  top: 0px;
  transition: color 0.5s 0.5s, font-size 0.5s 0.5s, line-height 0.5s 0.5s, top 0.5s 0.5s;
}

.stats {
  height: 60px;
  float: right;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 0;
  transition: background 0.7s 0.8s, height 0.5s 0.5s, padding 0.5s 0.5s, margin 0.5s 0.5s, z-index 0s 1s;

}
z.statsCompleted {

  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: background 1s, height 0.7s 0.3s, padding 0.5s 0.5s, margin 0.5s 0.5s;
}


/* ---Results Box--- */
.resultsTitleHidden {
  zposition: absolute;
  top: 0;
  color: white;
  background: #61a75d;
  font-size: 14px;
  font-weight: 900;
  line-height: 35px;
  font-family: Arial;
  left: 0;
  right: 0;
  width: 100%;
  padding-left: 20px;
  opacity: 0;
  transition: all 1s;
}

.resultsTitleShow {
  opacity: 1;
  transition: opacity 0.5s 1s;
}

.resultsOptionsHidden {

  zposition: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
  left: 0;
  right: 0;
  width: 100%;

  transition: opacity 0.5s 1s, all 1s;
  text-align: center;
  line-height: 70px;

}

.zresultsOptionsShow {
  zposition: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s 1s;
  text-align: center;
  line-height: 70px;
  border: 1px solid red;
}

.results__options__box {
  display: inline-block;
  width: 25%;
  color: #8a8f92;
  font-size: 24px;
  transition: all 0.2s;
}

.resultsOptionsShow .results__options__box {
  background: #d0d0d0;
}

.results__options__boxUnavailable {
  display: inline-block;
  width: 25%;
  color: #eee;
  font-size: 24px;
  transition: all 0.2s;
}

.resultsOptionsShow .results__options__boxUnavailable {
  background: #d0d0d0;
}

.results__options__box:hover {
  background: #c0c0c0;
  cursor: pointer;
  color: #72777a;
  transition: all 0.1s;
}
